<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			Naukri
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<link rel="stylesheet" href="Style.css">
	</head>
	<body>
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				 <div class="container-fluid">
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
						  <a class="nav-link active" aria-current="page" href="#home">Home</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link active" href="#about">About</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link active" href="#contact">Contact</a>
						</li>
					  </ul>
					  <form class="d-flex" action="https://google.com/search" target="blank">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
						<button class="btn btn-outline-success" type="submit">Search</button>
					  </form>
					</div>
				  </div>
				</nav>
			<div class="position">	
					<h3 style="color: solid black;"><u>Register</u></h3> 
						<a href="https://forms.gle/vKib2fLAuUZNbxEZ6" id="one" target="blank">Employee</a><br>
						<a href=" " id="two">Employer</a> 
            </div>
			<div class="pos">	
					<h3>Login</h3>
					<a href="">Login</a>
			</div>
		</header>
		<header>
			<div class="content">
				<h1 id="home"><u>Home</u></h1>
				<p>Welcome to Job portal exclusively built for Mangaloreans</p>
			</div>
			<div class="content">
				<h1 id="about"><u>About us</u></h1>
				<p>We are here to help you people to land on your dream job. <br>
					This website is developed by two <i>Mangaloreans</i> whose contact details you can find in contact section<br><br>
					<b>-----testing-----</b><br><br>
					He is also said to have cheated number of industrialists including the Tatas, <br>the Birlas and also Dhirubhai Ambani taking from them huge money in cash, posing as social workers or needy person. <br>Also he had duped many shop-owners with lakhs of rupees, paying them by cheque and demand drafts, which were later found to be forged.

					Natwarlal was wanted in more than 100 cases and he was wanted by 8 states police and was sentenced to 113 years in prison. <br>However, he made daring escapes from different jails eight times in his life.

					Natwarlal was arrested nine times but every time he was able to break out of jail and run away. <br>He was convicted for 14 cases of forgery and was sentenced for 113 years, but he hardly spent 20 years in prison.
				</p>
			</div>
			<div class="content">
				<h1 id="contact"><u>Contact</u></h1>
				<p>Thrivikram: 8050979492</p>
			</div>
		
		</header>
	</body>
</html>